<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ManageIQ Galaxy</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css"> 
</head>
  <body>
    <div id="main"><%- markup -%></div>
    <footer>
        <div id="footer-line" class="container-fluid"></div>
        <div class="row">
          <div class="col-md-4">
           <img src="/img/manageiq-logo.png" height="50px">
          </div>
          <div class="col-md-8 copyright">
              Copyright © 2018 ManageIQ, Inc. | <a href="https://raw.githubusercontent.com/miq-consumption/manageiq-galaxy/master/LICENSE">License</a> 
              <div class='version'>  MIQ GALAXY 1.0.0</div>
              
         </div>
      </div>
    </footer>
    <script src="/js/bundle.js"></script>
  </body>
</html>
